= form_for [current_owner, @store] do |f|
  %div
    = popover(:store, :name)
    = f.text_field :name, placeholder: 'Store\'s Name'
  %div
    = popover(:store, :description)
    = f.text_area :description, placeholder: 'Description'
  %div
    = popover(:store, :country)
    = f.country_select :country, {:priority => %w(US ES CA), :prompt => 'Please select a country'}, {:class => 'country_select', :data => f.object.class.name.underscore.to_s}

  = render partial: '/layouts/subregion_select', locals: {parent_region: f.object.country, model: f.object.class.name.underscore.to_s}

  %div
    = popover(:store, :contact_email)
    = f.text_field :contact_email, placeholder: 'Email'
  %div
    = popover(:store, :contact_phone_number)
    = f.text_field :country_code, :maxlength => 5, :id => 'country_code', :placeholder => '+CC'
    #{"-"}
    = f.text_field :area_code, :maxlength => 3, :id => 'area_code', :placeholder => 'xxx'
    #{"-"}
    = f.text_field :number1, :maxlength => 3, :id => 'number1', :placeholder => 'xxx'
    #{"-"}
    = f.text_field :number2, :maxlength => 4, :id => 'number2', :placeholder => 'xxxx'
    #{"-"}
    = f.text_field :extension, :maxlength => 7, :id => 'extension', :placeholder => 'extension'
  %div
    = popover(:store, :type)
    = f.text_field :type, placeholder: 'Type of Business'
  %div
    = f.submit 'Save Store', class: 'btn'
