= form_for [current_owner, @store] do |f|
  %div
    = popover(:store, :name)
    = f.text_field :name, placeholder: 'Store\'s Name'
  %div
    = popover(:store, :description)
    = f.text_area :description, placeholder: 'Description'
  %div
    = popover(:store, :country)
    = f.country_select :country, priority: %w(US ES CA), prompt: 'Please select a country'
  = render partial: 'subregion_select', locals: {parent_region: f.object.country}
  %div
    = popover(:store, :contact_email)
    = f.text_field :contact_email, placeholder: 'Email'
  %div
    = popover(:store, :contact_phone_number)
    = f.text_field :area_code, :maxlength => 3, :id => 'area_code', :placeholder => 'xxx'
    #{"-"}
    = f.text_field :number1, :maxlength => 3, :id => 'number1', :placeholder => 'xxx'
    #{"-"}
    = f.text_field :number2, :maxlength => 4, :id => 'number2', :placeholder => 'xxxx'
  %div
    = popover(:store, :type)
    = f.text_field :type, placeholder: 'Type of Business'
  %div
    = f.submit 'Save Store', :class => 'btn'
