= form_for [current_owner, @store, @coupon] do |f|
  %div
    = f.text_field :title, placeholder: 'Coupon heading'
  %div
    = f.text_area :description, placeholder: 'Describe the coupon'
  %div
    = f.select :type, options_for_select(Coupon::COUPON_TYPES), prompt: 'Select a Coupon Type', id: 'coupon_type_select'
  .hide#discount
    = select_tag :discount_desc, options_for_select(Coupon::DISCOUNT_TYPES), prompt: 'Select the Discount Type', id: 'discount_select_type'
    .hide#money_off
      = f.number_field :money_off, placeholder: 'Money Off', min: 1
      = "$"
    .hide#percent_off
      = f.number_field :percent_off, placeholder: 'Percent Off', min: 1
      = "%"
  .hide#free
    %p
      %span.label.label-info You are adding a coupon that is a free giveaway. Use the heading and description above to clarify what is being given free.
  .hide#birthday
    %p
      %span.label.label-info The birthday coupon will be offered to any user's on their birthday. Select the shelf life of the coupon after it's received on their birthday.
  .hide#buy_get
    = select_tag :get_one_type, options_for_select(Coupon::GET_ONE_TYPES), prompt: 'Get one...', id: 'get_one_type'
    .hide#get_one_money
      = f.number_field :get_money_off, placeholder: 'Money Off', min: 1
      = "$"
    .hide#get_one_percent
      = f.number_field :get_percent_off, placeholder: 'Percent Off', min: 1
      = "%"
    .hide#get_free
      %p
        %span.label.label-info You will be adding a coupon that is a buy one get one free, you are responsible for upholding this coupon. Use the heading and description above to give clarification.
    .hide#get_equal
      %p
        %span.label.label-info You will be adding a coupon that is a buy one get one of less or equal value, you are responsible for upholding this coupon. Use the heading and description above to give clarification.
  .hide#first
    %p
      %span.label.label-info This coupon will allow us to market your business to your customers who have never been to your establishment through email and social media. Use the heading and description above to give clarification.
  #coupon_life
    = f.select :life_type, options_for_select(Coupon::COUPON_LIFE), prompt: 'Select Shelf Life', id: 'coupon_life_type'
    .hide#absolute
      %p
        %span.label.label-info You will be adding a coupon that has no expiration date. You will be able to disable or destroy the coupon on the edit page if desired.
    .hide#expiration_date
      = f.text_field :expiration_date, class: 'datepicker', placeholder: 'Expiration Date'
      %p
        %span.label.label-info When adding a coupon with an expiration be aware of when you are thinking about starting a campaign. You won't be able to add a coupon that is expired to your campaign.
    .hide#expires_after
      = f.number_field :expires_after, placeholder: 'Expires After', min: 7
      = "days"
  %div
    = f.submit 'Save Coupon', class: 'btn'
