#wrapper
  - parent_region ||= params[:parent_region]
  - model ||= params[:model]
  - country = Carmen::Country.coded(parent_region)

  - if country.nil?
  - elsif country.subregions?
    = popover(model, :state)
    = subregion_select(model, :state, parent_region)
    %div
      = popover(model, :city)
      = text_field(model, :city, :placeholder => 'City')
    %div
      = popover(model, :address)
      = text_field(model, :address, :placeholder => 'Address')
    %div
      = popover(model, :zip_code)
      = text_field(model, :zip_code, :placeholder => 'Zip Code')
  - else
    = popover(model, :state)
    = text_field(model, :state)
    %div
      = popover(model, :city)
      = text_field(model, :city, :placeholder => 'City')
    %div
      = popover(model, :address)
      = text_field(model, :address, :placeholder => 'Address')
    %div
      = popover(model, :zip_code)
      = text_field(model, :zip_code, :placeholder => 'Zip Code')
